aiohttp==3.7.3
appdirs==1.4.4
asgiref==3.3.4
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
confusable-homoglyphs==3.2.0
discord==1.0.1
discord.py==1.6.0
distlib==0.3.1
Django==3.2
django-crispy-forms==1.13.0
django-extensions==3.1.3
django-registration==3.2
django-widget-tweaks==1.4.2
environs==5.2.1
filelock==3.0.12
graphviz==0.17
idna==2.10
importlib-metadata==4.0.1
isoweek==1.3.3
marshmallow==3.12.1
mouse==0.7.1
MouseInfo==0.1.3
multidict==5.1.0
mysql-connector-python==8.0.27
numpy==1.19.5
Pillow==8.2.0
PyAutoGUI==0.9.52
pycparser==2.20
pydot==1.4.2
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
python-dotenv==0.17.1
PyTweening==1.0.3
pytz==2018.5
requests==2.25.1
selenium==3.14.0
six==1.15.0
sqlparse==0.4.1
tcod==11.19.3
typing-extensions==3.7.4.3
unrpa==2.3.0
urllib3==1.26.4
virtualenv==20.4.4
virtualenvwrapper-win==1.2.6
yarl==1.6.3
zipp==3.4.1
