{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}

{% block cssfiles %}
    <link type="text/css" href="{% static 'css/index.css' %}" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400">
    <link type="text/css" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Google+Sans+Text:400&amp;text=%E2%86%90%E2%86%92%E2%86%91%E2%86%93">
    <style>
        .card {
            padding: 30px 40px;

            margin-bottom: 60px;
            background: linear-gradient(150deg, #3c2b8c, #3b175e);
            border: none !important;
            border-radius: 20px;
            box-shadow: 0 1px 50px 0 rgba(126, 123, 24, 0.34);
            font-family: "Gotham Pro";
            line-height: 28px;
            color: white;
            font-weight: 400;
            padding-top: 20px;
            max-width: 638px;
        }

    </style>
{% endblock %}


{% block content %}
    <div class="s-about">
        <div class="container">
            <div class="s-about-line row">
                <div class="s-about-block col-xl-6 col-lg-6 ">
                    <div class="s-about-text">
                        <div class="card">
                            <h2 class="s-about-title text-center">
                                ABOBA Gaming - это...
                            </h2>
                            <div class="s-about-descr">
                                место для тех, кто любит помериться силами с виртуальным противником и пообщаться с
                                единомышленниками. Мы создали наши клубы с учетом самых современных тенденций в игровой
                                индустрии. Новейшее оборудование позволяет погрузиться в мир виртуальных сражений и
                                стать лучшим в ваших любимых играх: <span>Dota 2, CS:GO, PUBG, Apex Legends, WoT, Fortnite, Warface и др.</span>
                                Мы прилагаем максимум усилий, чтобы вам у нас было комфортно и одному, и с компанией
                                друзей. На это работает сама атмосфера клуба, удобство игровой зоны, вежливый и
                                профессиональный персонал. Мы следим за всеми игровыми новинками и тут же пополняем ими
                                наш арсенал игр, но не забываем и о классике, поэтому вы найдете для себя любую игру по
                                вкусу.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s-about-block col-xl-6 col-lg-6">
                    <ul class="s-about-list">
                        <li>
                            <div class="s-about-item">
                                <div class="s-about-left"></div>
                                <div class="s-about-icon"></div>
                                <div class="s-about-right">
                                    стильно оборудованный компьютерный зал
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="s-about-item">
                                <div class="s-about-left"></div>
                                <div class="s-about-icon"></div>
                                <div class="s-about-right">
                                    Удобное расположение и доступность
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="s-about-item">
                                <div class="s-about-left"></div>
                                <div class="s-about-icon"></div>
                                <div class="s-about-right">
                                    Круглосуточная работа сайта
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="s-about-item">
                                <div class="s-about-left"></div>
                                <div class="s-about-icon"></div>
                                <div class="s-about-right">
                                    Приятная атмосфера
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="s-find">
        <div class="container">
            <div class="s-line"></div>
            <div class="s-find-inner">
                <h2 class="s-find-title">Наше ПО:</h2>

                <div class="s-find-line row">

                    {% for t in tarif %}
                        <div class="card-columns col-md-4">
                            <div class="card bg-dark  mx-sm-1 p-3 text-center" style="border-radius: 7px">
                                <div class="card-body bg-transparent">
                                    <h3 class="card-title text-white">Тариф - {{ t.name_tariff }}</h3>

                                </div>
                                <div class="card-body bg-transparent">
                                <ul class="list-group ">
                                    <li class="list-group-item bg-dark border-0 border-dark">
                                        <h3 class="text-white">Кол-во часов - {{ t.number_of_hours }}</h3>

                                    </li>
                                </ul>
                                </div>
                                <div class="card-footer bg-transparent ">
                                    <h3 class="card-title text-white">Стоимость - {{ t.price }} рублей</h3>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="s-line"></div>
        </div>
    </div>



    <div class="s-find">
        <div class="container">
            <div class="s-line"></div>
            <div class="s-find-inner">
                <h2 class="s-find-title">Наши игры:</h2>

                <div class="s-find-line row">

                    {% for g in games %}
                        <div class="card-columns col-md-4">
                            <div class="card bg-dark  mx-sm-1 p-3 text-center" style="border-radius: 7px">
                                <div class="card-body bg-transparent">
                                    <img src="{{ g.image.url }}" class="card-img-top">

                                </div>
                                <div class="card-body bg-transparent">
                                <ul class="list-group ">
                                    <li class="list-group-item bg-dark border-0 border-dark">
                                        <h3 class="text-white">"{{ g.title }}"</h3>
                                    </li>
                                </ul>
                                </div>
                                <div class="card-footer bg-transparent ">
                                    <a style="background-color: #ca292982; border-color: #ca292982;" href="{{ g.url_to_game }}" class="btn btn-primary">Перейти на страницу игры</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="s-line"></div>
        </div>
    </div>
{% endblock %}

