{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block cssfiles %}
    <link type="text/css" href="{% static 'css/profile.css' %}" rel="stylesheet"/>
{% endblock %}


{% block content %}
    <div class="container emp-profile">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="{{ user.avatar.url }}"/>
                        <div class="file btn btn-lg btn-primary">
                            Изменить фото
                            <input type="file" name="avatar" accept="image/*" id="id_avatar">
                        </div>

                    </div>
                    <div style="margin-left: 145px;">
                        <button type="submit" value="Update" class="btn btn-success">Обновить</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                   type="button" role="tab" aria-controls="home" aria-selected="true">Мои данные</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                   type="button" role="tab" aria-controls="profile" aria-selected="false">Мои
                                    резервации</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <div class="tab-content">
                            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Логин</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ user.username }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Имя</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ user.first_name }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Фамилия</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ user.last_name }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Почта</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ user.email }}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Дата регистрации</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ user.date_joined }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Последняя дата входа</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ user.last_login }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="col-md-6">
                                    <div class="profile-head">
                                        <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                            {% for i in reserv_cab %}
                                                <li class="nav-item">
                                                    <a class="nav-link"
                                                       id="{{ i.pk }}-tab"
                                                       data-bs-toggle="tab"
                                                       data-bs-target="#dbt{{ i.pk }}"
                                                       type="button" role="tab" aria-controls="{{ i.pk }}"
                                                       aria-selected="true">Кабинет - {{ i.reserv_date }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="tab-content">
                                        {% for i in reserv_cab %}
                                            <div class="tab-pane" id="dbt{{ i.pk }}"
                                                 role="tabpanel"
                                                 aria-labelledby="{{ i.pk }}-tab">

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Дата резервации</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{ i.reserv_date }}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Время резервации</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{ i.reserv_time }}</p>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Номер кабинета</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{ i.cab }}</p>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>ПО:</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {% for g in i.cab.equip_id.all %}
                                                            <p>{{ g }}</p>
                                                        {% endfor %}
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Удалить бронь</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button type="submit" name="btn_{{ i.pk }}"
                                                                class="btn btn-dark float-right">Delete
                                                        </button>
                                                    </div>
                                                </div>


                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
