{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block cssfiles %}
    <style>
        body {
            color: #c8c8c8e8;
            overflow-x: hidden;
            height: 100%;
            background: -webkit-linear-gradient(90deg, #241111, #381555);
            background: linear-gradient(90deg, #241111, #381555);
            background-size: 100% 100%
        }

        .card {
            padding: 30px 40px;
            margin-top: 60px;
            margin-bottom: 60px;
            background: linear-gradient(150deg, #3a1446, #431a62);
            border: none !important;
            border-radius: 20px;
            box-shadow: 0 1px 50px 0 rgba(126, 123, 24, 0.34);
        {#box-shadow: 58px 58px 18px 0px rgba(126, 123, 24, 0.47);#}
        }

        .blue-text {
            color: #00BCD4
        }

        .form-control-label {
            margin-bottom: 0
        }

        input,
        textarea,
        select {
            padding: 8px 15px;
            border-radius: 5px !important;
            margin: 5px 0px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            font-size: 18px !important;
            font-weight: 300;
            background-color: #eaeaea !important;
        }

        button {
            padding: 8px 15px;
            border-radius: 5px !important;
            margin: 5px 0px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            font-size: 18px !important;
            font-weight: 300;
        }

        input:focus,
        textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #00BCD4;
            outline-width: 0;
            font-weight: 400
        }

        .btn-block {
            text-transform: uppercase;
            font-size: 15px !important;
            font-weight: 400;
            height: 43px;
            cursor: pointer
        }

        .btn-block:hover {
            color: #fff !important
        }

        button:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            outline-width: 0
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-7">
                <div class="card">

                    <h3 class="text-center mb-4">{{ title }}</h3>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-error">{{ form.non_field_errors }}</div>

                        <div class="row justify-content-center mt-4">
                            <div class="col">
                                <label class="form-control-label">{{ form.last_name.label }}<span
                                        class="text-danger"> *</span></label>
                                {{ form.last_name }}
                                <div class="form-error">{{ form.errors }}</div>
                            </div>
                        </div>


                        <div class="row justify-content-center mt-4">
                            <div class="col">
                                <label class="form-control-label">{{ form.first_name.label }}<span
                                        class="text-danger"> *</span></label>
                                {{ form.first_name }}
                                <div class="form-error">{{ form.errors }}</div>
                            </div>
                        </div>


                        <div class="row justify-content-center mt-4">
                            <div class="col">
                                <label class="form-control-label">{{ form.middle_name.label }}<span
                                        class="text-danger"> *</span></label>
                                {{ form.middle_name }}
                                <div class="form-error">{{ form.errors }}</div>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <div class="col">
                                <label class="form-control-label">{{ form.email.label }}<span
                                        class="text-danger"> *</span></label>
                                {{ form.email }}
                                <div class="form-error">{{ form.errors }}</div>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <div class="col">
                                <label class="form-control-label">{{ form.password.label }}<span
                                        class="text-danger"> *</span></label>
                                {{ form.password }}
                                <div class="form-error">{{ form.errors }}</div>
                            </div>
                        </div>


                        <div class="row justify-content-end mt-4">
                            <div class="form-group col-sm-7">
                                <button type="submit" class="btn-block btn-success">Добавить</button>
                            </div>
                        </div>
                        <span>{{ error }}</span>


                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}