
    <form method="get" enctype="multipart/form-data">
        <div class="paddi"></div>
        <div class="bootstrap_buttons">

            <button type="button" class="reset btn btn-danger" data-column="0" data-filter="">Очистить фильтры
            </button>
            <br>
        </div>

        <div class="booba" id="aboba">
            <table id="books-table" class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center" scope="col">№</th>
                    <th class="text-center" scope="col">ID</th>
                    <th class="text-center" scope="col">Номер лаборатории</th>
                    <th class="text-center" scope="col">Время</th>
                    <th class="text-center" scope="col">ПО</th>
                    <th class="text-center" scope="col">Оборудование</th>
                    <th class="text-center" scope="col">Редактировать</th>

                </tr>
                </thead>

                <tfoot>
                <tr>
                    <th>№</th>
                    <th>ID</th>
                    <th>Номер лаборатории</th>
                    <th class="text-center">Время</th>
                    <th class="text-center">ПО</th>
                    <th class="text-center">Оборудование</th>
                    <th>Редактировать</th>
                </tr>
                <tr>
                    <th colspan="9" class="ts-pager">
                        <div class="form-inline">
                            <div class="btn-group btn-group-sm mx-1" role="group">
                                <button type="button" class="btn btn-secondary first" title="В начало">⇤
                                </button>
                                <button type="button" class="btn btn-secondary prev" title="Прошлая страница">←
                                </button>
                            </div>
                            <span class="pagedisplay"></span>
                            <div class="btn-group btn-group-sm mx-1" role="group">
                                <button type="button" class="btn btn-secondary next" title="Следующая страница">
                                    →
                                </button>
                                <button type="button" class="btn btn-secondary last" title="В конец">⇥</button>
                            </div>
                            <select class="form-control-sm custom-select px-1 pagesize" title="Кол-во записей">
                                <option selected="selected" value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="all">Все</option>
                            </select>
                            <select class="form-control-sm custom-select px-4 mx-1 pagenum"
                                    title="Номер страницы"></select>
                        </div>
                    </th>
                </tr>
                </tfoot>

                <tbody>

                {% for i in Cab %}

                    <tr class="table-light">
                        <th scope="row">{{ forloop.counter }}</th>
                        <th>{{ i.pk }}</th>
                        <th>{{ i.number }}</th>
                        <th class="text-center">{%for j in i.time_id.all %} {{ j }}, {%endfor%}</th>
                        <th class="text-center">{%for j in i.equip_id.all %} {{ j }}, {%endfor%}</th>
                        <th class="text-center">{%for j in i.oborud_id.all %} {{ j }}, {%endfor%}</th>


                        <td>
                            <button type="button" class="update-book btn btn-sm btn-primary"
                                    data-form-url="{% url 'update_cab' i.pk %}">
                                Редактировать
                            </button>

                            <button id="del_z" name="btn_{{ i.pk }}" data-form-url="{{ i.pk }}" type="button" class="del_z btn btn-danger">Удалить

                            </button>
                            <button id="del_zz{{ i.pk }}" name="btn_{{ i.pk }}" type="submit" class="hid_btn">Удалить
                            </button>
                        </td>

                    </tr>

                {% endfor %}
                </tbody>

            </table>
        </div>
    </form>

